* {
  box-sizing: border-box;
}
body{
  margin:0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  background-color: brown;
  color: antiquewhite;
}
.text-center{
  text-align: center;
}
.container{
  width: 60%;
  margin:10% auto
}
.ListItems{
  background:burlywood;
  color: brown;
  margin:0;
  text-align: center;
  padding: 10px 0;
}
.ListItems h1{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(177, 100, 13);

}
table,th, td{
  display: inline-block;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  border: 0.3px solid black;
}
th, td{
  width: 120px;
  margin: 2px;
}
form input[type=text]{
  width: 20%;
  height: 35px;
}
form input[type=number]{
  width: 20%;
  height: 35px;
}
form input[type=Submit]{
  width: 20%;
  height: 35px;
  background-color: rgb(204, 148, 75);
  cursor:pointer
}
#search{
  margin-bottom: 20px;
  width: 100%;
  height: 30px;
}

.action_icone{
  cursor:pointer
}